---
---

{% include path/path-assets.html %}

<html>
<head>
  {% include head.html %}
</head>
  <body class="login">

    {% include navbar.html %}

    <div class="section-first section-first-blue">
      <img src="../assets/img/sosete-duck.png">
      <img src="../assets/img/sosete-donut.png">
      <img src="../assets/img/sosete-tanc.png">
      <div class="container">
        <div class="card big-card">
          <div class="row">
          <div class="col-md-6">
          <div class="card card-login">

            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center mb-5">
                    <h5 class="heading pt-3">Welcome back</h5>
                    <h2 class="subheading">Welcome back</h2>
                    <p>Sign in to your account to continue</p>
                </div>
                <form role="form">
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg form-control-emphasized" id="input_email" placeholder="Your email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg form-control-emphasized" id="input_password" placeholder="Password">
                    </div>
                    <div class="text-right mt-4"><a href="#">Forgot password?</a>
                    </div>
                    <a href="profile.html" class="btn btn-block btn-lg btn-orange mt-4">Sign in</a>
                </form>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-preregister">
            <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center py-sm-5 mb-5">
                    <h5 class="heading pt-3">I don't have an account</h5>
                    <p>Join our awesome world</p>
                    <a class="btn btn-lg" href="register.html">Create account</a>
                </div>
                <img src="../assets/img/ljmw.png">
            </div>

        </div>
      </div>
    </div>
      </div>
    </div>

  </div>

  {% include footer.html %}

    <script src="../assets/js/core/jquery.3.2.1.min.js"></script>
    	<script src="../assets/js/core/bootstrap.min.js"></script>
      <script src="../assets/js/hd.js"></script>
  </body>
</html>
